.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.video-list-container{
    width: 80%;
    height: 100%;
    border: 5px solid black;
}
