.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.video-list-container{
    width: 85%;
    height: 100%;
    /* border: 5px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px;
}

.video-list-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}

.video-card{
    position: relative;
    max-width: 400px;
    max-height: 250px;
    display: flex;
    align-items: center;
    margin: 10px;
    /* border: 1px solid black; */
}

