h2 {
    margin-top: 10px;
    color: #272829;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.signup-container{
    width: 30%;
    height: 60%;
    margin-top: 100px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(236, 225, 225);
    border-radius: 30px;
    background: white;
    /* margin: 50px 50px 50px 50px; */
    box-shadow: 0 0 10px rgb(200, 200, 200);
}


.signup-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    margin: 10px 10px;
}

input{
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(200, 200, 200);
    border-radius: 10px;
    margin-left: 10px;
}

.signup-btn{
    /* border: 5px solid white; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 1.0); */
    /* position: relative;
    top: 50%; */
    /* background-color: #D14D72; */
    background-color: rgb(227, 217, 217);
    /* background: white; */
    color: #272829;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    /* margin-top: 5px; */
}
