.home-btn{
    width: 20px;
    height: 45px;
}
.navi-btn{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-btn{
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   align-items: center;
   font-family: "Comic Sans MS", cursive, sans-serif;
   border-radius: 20px;
}

.btn-content{
    margin-left: 8px;
}
