h3{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.video-list-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}

.video-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    /* margin: 20px; */
}

.video-pic{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.video-pic-container{
    width: 100%;
    height: 80%;
}

.video-list-title{
 font-weight: bold;
}
