.user-prof-navbar{
    margin: 20px 0px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.user-fav-videos-container{
    width: 100%;
    height: 70%;
    /* border: 5px solid black; */
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 40px;
    padding-left: 45px;
    /* margin: 15px; */
}
.user-favi-video-card{
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.user-favi-video-pic{
    max-width: 100%;
    border-radius: 12px;
}

.favi-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}
