h4{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.video-container{
    width: 640px;
    height: 360px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: flex-start;
}

.video-player{
    width: 640px;
    height: 360px;
    border-radius: 10px;
}
.video-content{
    margin: 12px 0px;
    font-size: 0.9rem;
}

.bottom-row{
    /* box-shadow: 0 0 10px rgb(200, 200, 200); */
    background-color: #f2f2f2;
    border-radius: 8px;
}
