h4{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.video-container{
    width: 640px;
    height: 360px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: flex-start;
}

.video-player{
    width: 640px;
    height: 360px;
    border-radius: 10px;
}
.video-content{
    margin: 12px 0px;
    font-size: 0.9rem;
}

.top-row{
    font-size: 2rem;
}

.middle-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 10px 0px;
    padding: 0px 3px;
}
.user-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-right: 5px;
}
.favi-btn{
    width: 80px;
    height: 36px;
    border: 1px solid #EBE4D1;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f2f2f2;
}

.bottom-row{
    width: 660px;
    height: auto;
    /* box-shadow: 0 0 10px rgb(200, 200, 200); */
    background-color: #f2f2f2;
    border-radius: 8px;
}


.video-description-container{
    padding: 10px 10px;
}


.comments-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid #c72d2d; */
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.comment-content{
    /* border: 1px solid #777ee4; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 0px;
}

.comment-top-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.comment-author{
    display: inline-block;
    margin: 5px 0px;
    font-weight: bold;
}

.comment-createTime{
    display: inline-block;
    margin: 5px 10px;
    font-size: 0.7rem;
}

.comment-avatar{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin: 8px 5px;
}

.right-block{
    margin-left: 10px;
    text-align: start;
}

.comment-block{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.comment-edit-list{
    border: 1px solid #c72d2d;
    width: 100px;
    height: 100px;
}